<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Problem">
            <directory>./ProblemTest</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../../../module</directory>
            <exclude>
                <directory suffix=".php">../test</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../../../vendor</directory>
        </blacklist>
    </filter>
</phpunit>
